.api {
    text-align: center;
}

form label .question-text {
    margin: auto;
    font-size: 1.5rem;
    min-width: 25vw;
    max-height: 75px;
    min-height: 38px;
    padding: 9px;
    box-sizing: 'border-box';
    font-size: 1.5rem;
    font-weight: 900;
}

.radio-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 10vmin);
}

.radio-container .radio {
    display: flex;
}

.radio-container .radio label {
    display: flex;
    margin: auto;
    font-size: 1.5rem;
}

.radio-container .radio label .input-radio {
    padding: 0;
    margin: auto 20px;
}

.radio-container .radio label .input-text {
    margin: auto;
    font-size: 1.5rem;
}

input {
    font-size: 1rem;
}